{
	"root": true,
	"ignorePatterns": ["**.js"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/ban-ts-comment": "warn",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],
		"@typescript-eslint/no-explicit-any": ["warn"]
	}
}
