build
main.js

esbuild.config.mjs
package-lock.json
node_modules
coverage
.vscode
.parcel-cache
content/*

*.yml
src/testVault/*
content/*

package-lock.json
package.json

*.md 
*.mjs
README.md
*.md
