button:disabled {
	pointer-events: none;
	opacity: 0.4;
}

.quartz-syncer-publish-status-view ul {
	list-style-type: none;
	position: relative;
	margin-left: 5px;
	margin-top: 0;
	max-height: 250px;
	overflow: auto;
}

.quartz-syncer-publish-status-view h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.quartz-syncer-publish-status-view .collapsable {
	cursor: pointer;
	margin-left: 10px;
}

.quartz-syncer-settings-enabled
	> .setting-item-info
	> .setting-item-name:after {
	content: " (plugin enabled)";
	color: var(--text-success, var(--color-green, green));
	font-weight: bold;
}

.quartz-syncer-settings-disabled > .setting-item-info > .setting-item-name {
	color: var(--text-error, var(--color-red, red));
}

.quartz-syncer-settings-disabled
	> .setting-item-info
	> .setting-item-name:after {
	content: " (plugin disabled)";
	color: var(--text-error, var(--color-red, red));
	font-weight: bold;
}

.quartz-syncer-settings-disabled > .setting-item-control > .checkbox-container {
	background-color: var(--text-error, var(--color-red, red));
}

.quartz-syncer-settings-upcoming
	> .setting-item-info
	> .setting-item-name:after {
	content: " (plugin support upcoming)";
	color: var(--text-warning, var(--color-orange, orange));
	font-weight: bold;
}

.quartz-syncer-settings-overridable
	> .setting-item-info
	> .setting-item-name:after {
	content: " *";
	color: var(--text-warning, var(--color-orange, orange));
}

.quartz-syncer-settings-overrider
	> .setting-item-info
	> .setting-item-name:after {
	content: " (enabling this setting will override marked settings (*))";
	color: var(--text-warning, var(--color-orange, orange));
	font-weight: bold;
}

.quartz-syncer-settings-overridden {
	color: var(--text-muted, grey);
}

.quartz-syncer-settings-overridden
	> .setting-item-control
	> .setting-item-control {
	display: none;
}

.quartz-syncer-settings-overridden
	> .setting-item-info
	> .setting-item-name:after {
	content: " (setting overridden)";
	color: var(--text-warning, var(--color-orange, orange));
}

.quartz-syncer-settings > h1,
.quartz-syncer-settings h2,
.quartz-syncer-settings h3,
.quartz-syncer-settings h4 {
	margin-top: 40px;
}

.quartz-syncer-settings .svg-icon {
	margin-right: 10px;
}

.quartz-syncer-svg-icon {
	margin-right: 4px;
}

@keyframes quartz-syncer-rotate-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.quartz-syncer-rotate {
	animation: quartz-syncer-rotate-animation 4s linear infinite;
}
