{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                {% if meta.siteLogoPath %}
                    <img class="site-logo" src="{{meta.siteLogoPath}}" alt="{{meta.siteName}}">
                {% else %}
                    <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
                {% endif %}
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}