<div class="search-button align-icon" onclick="toggleSearch()">
    <span class="search-icon">
        <i data-lucide="search"></i>
    </span>
    <span class="search-text">{{ meta.uiStrings.searchButtonText }}</span>
    <span class="search-keys"><code>Ctrl</code>&nbsp;+&nbsp;<code>K</code></span>
</div>