---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
---
[{% for post in collections.note %}
{
		"title": {% if post.data.title %}{{post.data.title | jsonify | safe }}{% else %}{{post.fileSlug | jsonify | safe }}{% endif %},
		"date":"{{ post.date }}",
		"url":"{{ post.url }}",
		"content": {{ post.templateContent | striptags(true) | link | jsonify | safe  }},
		"tags": [{{post.templateContent | link | searchableTags | safe }} {% if post.data.tags %}{% for tag in post.data.tags %}"{{tag|validJson}}"{% if not loop.last %},{% endif %}{% endfor %}{% endif %}]
}{% if not loop.last %},{% endif %}
{% endfor %}]